
body,
header,
html
  {
    margin: 0%;
    padding: 0%;
  }

  body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  body,
  header,
  html
  {
  width: 100%;
  height: 100%;
  }

  header{
    background:url(/images/owl-1281791_1280.jpg)no-repeat center;
    background-size: cover;
    color:#fff;
  }

  .wrap{
    display: table;
    width: 100%;
    height: 100%;
  }

  .slogan{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
  }

/* Menu */
header nav{
  background-color: #000;
  width:100%;
  height: 80px;
  position: absolute;
  
}

.insta{
 width: 20px;
 height: 20px;
 bottom: 10px;
  
}

header nav ul{
  list-style-type: none;
  display: flex;
  float: right;
  padding: 10px 40px;
  
}

header nav ul li{
  position: relative;
  float: left;
}

header nav ul li a{
color: #fff;
margin: 0 10px;
text-decoration: none;
font-size: 20px;
}



/*BIO*/







/*TATTOO*/

/*#tattoo{
  height: 800px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-bottom: 20px;
  
  }

h1{
margin-bottom: 20px;
}

.tat{
  width: 300px;
  height:300px;
  background-color: grey;
  display: inline-block;
  margin:20px 0 0 20px;
  border-radius:5px;
}

/*FLASH*/

/*#flash{
  height: 800px;
  width: auto;
  
}

/*CONTACT*/

/*#contact{
  height: 800px;
  width: auto;
  
}

/*FOOTER*/

/*#footer{
  background-color: black;
  height: 100px;
  width: auto;
  
}